<ion-header [translucent]="true">
    <ion-toolbar>
    <ion-title>
      {{ 'tab4.title' | translate }}
   </ion-title>
   <ion-button (click)="Scan()" slot="end">
    <ion-icon name="Bluetooth"></ion-icon>
    <p>Scan</p>
</ion-button>
   
</ion-toolbar>
    
</ion-header>

<ion-content>
    <ion-item lines="none">
        <ion-label><b>{{ 'tab4.nom' | translate }}</b></ion-label>
        <ion-input [(ngModel)]="nomUtilisateur" placeholder="{{ 'tab4.url1' | translate }}"></ion-input>
    </ion-item>

    <ion-item lines="none">
        <ion-label><b>{{ 'tab4.prenom' | translate }}</b></ion-label>
        <ion-input [(ngModel)]="prenomUtilisateur" placeholder="{{ 'tab4.url2' | translate }}"></ion-input>
    </ion-item>

    <ion-item lines="none">
        <ion-label><b>{{ 'tab4.age' | translate }}</b></ion-label>
        <ion-input [(ngModel)]="ageUtilisateur" placeholder="{{ 'tab4.url3' | translate }}"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="createQRCode()" *ngIf="!showCamera">
        <ion-icon slot="start" name="create"></ion-icon>
        {{ 'tab4.bouton' | translate }}
    </ion-button>

    <div class="center" *ngIf="myAngularxQrCode">
        <qrcode [qrdata]="myAngularxQrCode" [size]="500" [level]="'M'"></qrcode>
    </div>

    <ion-list>
        <ion-card-content ion-item *ngFor="let device of devices">
            <p>{{device.name || 'Unnamed'}}</p>
            <p>{{device.id}}</p>
            <p> RSSI: {{device.rssi}}</p>
        </ion-card-content>
    </ion-list>

</ion-content>
