
.img_QRCode_bottom{
    text-align: center;
}
#button_scan{
    margin-bottom: 10px;
}

  ion-toolbar{
    --ion-background-color: linear-gradient(to right, rgba(255,0,0,0),rgb(126,126,126));
    border-width:1px;
    border-style:outset;
    border-color:black;
}

  ion-item{
    --ion-background-color: linear-gradient(to right, rgba(255,0,0,0),rgb(126,126,126));
  }

