<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Scanneur de Qr-Code
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content ion-padding>
  <div id="img_QRCode_top"><img src="./assets/img/QRCode_top.png"/></div>
  <ion-button id="button_scan" expand="full" (click)="scanCode()">
    <ion-icon name="qr-scanner"></ion-icon>
    <p>&nbsp; Démarrer le scan</p>
  </ion-button>

  <div id="img_QRCode_bottom"><img src="./assets/img/QRCode_bottom.png"/></div>


<ion-content id='explications'>
  <ion-card>
    <ion-item lines="none" >
      <ion-icon name="book" slot="start"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
   • Approchez le téléphone d'un QR-code <br>
   • Visez le code de tel sorte qu'il se trouve au centre du carré <br>
   • Attendez un instant en restant immobile <br>
   • Voila c'est fait ! <br>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
</ion-content>
