<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'tab2.title' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content ion-padding>
  <div id="img_QRCode_top"><img src="./assets/img/QRCode_top.png"/></div>
  <ion-button id="button_scan" expand="full" (click)="scanCode()">
    <ion-icon name="qr-scanner"></ion-icon>
    <p>&nbsp; {{ 'tab2.scan' | translate}}</p>
  </ion-button>

  <div id="img_QRCode_bottom"><img src="./assets/img/QRCode_bottom.png"/></div>


<ion-content id='explications'>
  <ion-card>
    <ion-item lines="none" >
      <ion-icon name="book" slot="start"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        {{ 'tab2.tuto1' | translate}} <br>
        {{ 'tab2.tuto2' | translate}} <br>
        {{ 'tab2.tuto3' | translate}} <br>
        {{ 'tab2.tuto4' | translate}} <br>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
</ion-content>
