<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
      {{ 'tab1.tabName' | translate }}
    </ion-title>
  
</ion-toolbar>
</ion-header>




  



  <!-- Default Toggle
    <ion-content fullscreen class="ion-padding">

  <ion-list>
<ion-item>
  <ion-label>Thermomètre</ion-label>
  <ion-toggle slot="start" name="thermometre" checked></ion-toggle>
</ion-item>

<ion-item>
  <ion-label>Localisation</ion-label>
  <ion-toggle slot="start" name="localisation"  checked></ion-toggle>
</ion-item>

<ion-item>
  <ion-label>Luminosité </ion-label>
  <ion-toggle slot="start" name="luminosite" checked></ion-toggle>
</ion-item>

<ion-item>
  <ion-label>Micro</ion-label>
  <ion-toggle slot="start" name="micro" checked></ion-toggle>
</ion-item>

<ion-item>
  <ion-label>Caméra</ion-label>
  <ion-toggle slot="start" name="camera" checked></ion-toggle>
</ion-item>
</ion-list>

</ion-content>-->



<ion-content>
  
  
    <div id="img_Logo_up13"><img src="./assets/img/univ-p13.jpg"/></div>

<!-- Interface to start or stop ANALYZE with start/stop button-->
<ion-content class="starting_interface">
  <!-- Start button-->
  
  <ion-button expand="full" color="primary" (click)="presentAlertConfirmStartAnalyze()">{{ 'tab1.boutonStart' | translate }}</ion-button>
  <!-- Stop button-->
  <ion-button expand="full" color="danger" (click)="stopAnalyze()">{{ 'tab1.boutonStop' | translate }}</ion-button>
  
  <ion-card>
    
    <ion-card-content>
      <p translate [translateParams]="{ lang: language }">tab1.invite</p>
      <ion-item> 
        <ion-label translate>{{ 'tab1.langue' | translate }}</ion-label>
        <ion-select [(ngModel)]='language' (ionChange)='languageChange()' [placeholder]='"tab1.languageChangePlaceholder" | translate'>
          <ion-select-option value='fr'>{{ 'tab1.fra' | translate }}</ion-select-option>
          <ion-select-option value='en'>{{ 'tab1.eng' | translate }}</ion-select-option>
        </ion-select>
      </ion-item> 
    </ion-card-content>
  </ion-card>

</ion-content>
